{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./workers"
        },
        "cwd": "babelrc"
    }]
  ],
  "presets": [
    "next/babel"
  ],
  "ignore": []
}
